<div class="container mt-3" style="background-color: rgb(199, 242, 245);">
  <h1 class="text-left my-2">ToDo Completati</h1>
  <h4 class="text-left" *ngIf="numCompletati==0">Non hai completato nessuna task </h4>
  <h4 class="text-left" *ngIf="!loaded">Recupero task...</h4>
  <ul class="list-unstyled" *ngIf="loaded">
        <ng-container *ngFor="let item of listaTasks">
        <li class="list-group-item shadow" *ngIf="item.isCompleted">-{{item.titolo}}<li>

        </ng-container>
    </ul>
</div>

